.icheckbox_square-blue.focus {
    background-position: -24px 0;
}

.login-logo a:focus {
    outline: 5px solid black !important;
}

.add-new-slider .thumbnail {
    border-radius: 0 !important;
}

.btn-slide-add {
    position: absolute;
    top: 5px;
    right: 10px;
}

.slide-image-browse {
    padding: 125px 0;
    text-align: center;
}

/* Photo Upload */
.box-upload {
    margin-top: 30px;
    border: 4px dashed #CACACA;
    background: transparent;
    padding: 50px;
    position: relative;
}

.box-upload h3 {
    margin: 0;
}

.box-upload .btn.back {
    position: absolute;
    top: 10px;
    left: 10px;
}

@-webkit-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@-moz-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-moz-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.dz-success-mark svg, .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px;
}

.dz-success-mark, .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
}

.dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone.dz-drag-hover {
    border-color: #00acd6;
}

.dz-default.dz-message {
    display: none;
}

.upload-preview {
    margin: 30px -5px;
}

.upload-preview img {
    -webkit-user-drag: none;
    min-height: 100%;
    min-width: 100%;
}

.upload-preview > div {
    padding-left: 5px;
    padding-right: 5px;
}

.upload-preview .thumbnail {
    margin-bottom: 10px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.upload-progress-block {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.upload-progress-bar {
    width: 100%;
    margin: 45% 0;
}

.sidebar-collapse .sidebar-menu > li:hover > a {
    width: 230px;
}

.nav-tabs-custom {
    margin-bottom: 0;
}

.cropper-tools > div, .photo-info > div {
    margin: 0;
}

@media (min-width: 992px) {
    .photo-info {
        padding-left: 0;
    }

    .cropper-tools {
        padding-left: 0;
    }

    .add-new-slider .slides {
        /*padding-right: 0;*/
    }

}

.image-canvas {
    position: relative;
}

.with-border {
    border-bottom: 1px solid #f4f4f4;
}

/* Slider */
.slide-image {
    position: relative;
}

.slide-image .btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
}

.slide-image .btn-edit {

}

.change-slide-image {
    position: relative;
    cursor: pointer;
}

.change-slide-image .btn-change {
    /*cursor: pointer;*/
}

.change-slide-image .btn-change input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 50px;
    opacity: 0;
    cursor: pointer;
}

/* Slider */

@media (min-width: 992px) {
    .content .news-form > div > .col-md-3 {
        padding-left: 0;
    }
}

.btn-choose {
    position: relative;
}

.btn-choose input {
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 100%;
    opacity: 0;
    cursor: pointer;
}

.preview-thumb {
    margin-bottom: 10px;
}

.error-page > .error-content {
    float: left;
    margin-left: 50px;
    margin-top: 35px;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.pagination {
    margin: 0;
}

.popover-danger {
    background-color: #dd4b39;
    color: #FFFFFF;
    border: none;
    min-width: 200px;
}

.popover-danger.top > .arrow:after {
    border-top-color: #dd4b39;
}

.popover-danger.right > .arrow:after {
    border-right-color: #dd4b39;
}

.popover-danger.bottom > .arrow:after {
    border-bottom-color: #dd4b39;
}

.popover-danger.left > .arrow:after {
    border-left-color: #dd4b39;
}