@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


$logo-color: #84AF10;
$p_size: 24px;
$margin:50px;
$shadow:5px 5px 5px #afafaf;
$size:16px;
$color:#787878;
$book-color:#84af10;
$hover:#24ad58;
$heading-color:#4d4d4d;
*:focus {
    outline: none !important;
}

// fonts
$monBl:'montserratblack';
$monB:'montserratbold';
$monExb:'montserratextrabold';
$monM:'montserratmedium';
$monR:'montserratregular';
$heading-font:'montserratsemibold';

// Shadows

$shadow:0px 5px 19px -3px rgba(0, 0, 0, 0.23);

@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-black-webfont.woff') format('woff'),
        url('../fonts/montserrat-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratextrabold';
    src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-extrabold-webfont.woff') format('woff'),
        url('../fonts/montserrat-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-medium-webfont.woff') format('woff'),
        url('../fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
        url('../fonts/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: $logo-color;
    overflow-x: hidden;
    font-size: 16px;
    font-family: $monR;
    line-height:1.6;
}

p{
    line-height:1.6;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.viewmore-btn{
   line-height:2;
    color:$logo-color;
    font-size:12px;

}

.viewmore-btn:hover{
    text-decoration:none;
    cursor: pointer;
    color:$logo-color;
    font-family:$monM;
}


.modal-backdrop {
    z-index: 0 !important;
}

.padding {
    margin: 0px;
    padding: 0px;
}

h1{
    font-size:30px;
}

h2 {
    text-transform: uppercase;
    color: $logo-color;
}

.btn-outline {
    color: $logo-color;
    border-color: $logo-color;
    font-family: $monM;
    font-size: 18px;
}

.btn-outline:hover {
    color: #fff;
    background-color: $logo-color;
    border-color: $logo-color;
    transition: 0.8s;
}

  .button {
            background-color: $book-color;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 3px;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $logo-color;

        }

        .button:hover {
            background-color: white;
            border: 1px solid $logo-color;
            color: $logo-color;
            transition-duration: 0.8s;
            text-decoration:none;
        }

hr {
    border: 2px solid $logo-color;
}

li {
    list-style: none;
}

a:focus {
    outline: none;
}

.content {
    background-color: #e9ebee;
    z-index: 1;
    position: relative;
}

.block-menu li a {
    font-family: $monM;
}

.show {
    display: block !important;
    ;
}

/*Fixed Book Button*/
#book_botton {
    display: none;

    a {
        font-family: $heading-font;
        bottom: 25%;
        z-index: 1;
        position: fixed;
        right: 0;
        font-size: 18px;
        animation-delay: 0.5s;
        background: #BDE453;
        border: none;
        color: white;

        .text {
            display: block;
        }
    }

    .btn {
        padding: 5px 15px;
    }

    .btn:hover {
        padding: 5px 20px;
    }
}

#popup_this {
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 50px;
    margin-left: -50px;
    position: fixed;
    padding: 30px;
    z-index: 1;

    .b-close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        color: #fff;
        background: #ff0000;
        padding: 5px 10px;
    }
}

.nav-tabs .nav-item .active:hover {
    background-color: white;
    color: $logo-color !important;
}


.banner-slider {
    margin-bottom: $margin;
    position: relative;

    .carousel-item {
        overflow: hidden;
        height: 600px;

        img {
            margin-top: 110px;
            width: 100%;
            position: absolute;
            max-height: 600px;
            min-height: 300px;
            box-shadow: 10px 10px grey;
            object-position: top;
            object-fit: cover;
        }
    }

    .booknow {
        border-radius: 1%;
        position: absolute;
        bottom: -40px;
        max-width: 100%;
        left: 0;
        right: 0;

        .Wrapper {
            background-color: $logo-color;
            box-shadow: inset -1px 1px 20px 0px black;
            box-sizing: border-box;
            border: 1px solid white;
        }

        .btn {
            padding: 5px 30px;
            font-size: 14px;
            font-family: $monM;
            font-weight: 400;
            background-color: #1aa724;
            color: white;
            margin-top: 15px;
            margin-left: 20px;
        }

        .btn:hover {
            background-color: #18b523;
        }

        .form-group {
            margin-top: 20px;

            label {
                font-family: $monM;
                font-size: 14px;
                margin-bottom: 5px;
                color: white;
            }

            .form {
                font-size: 14px;
                padding: 4px 21px;
                background-color: rgba(255, 255, 255, 0.5);
                color: black;
                border: none;
            }
        }
    }
}

/*about us */
#aboutus-section {
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: #e9ebee;

    .heading {
        margin-bottom: 30px;

        h4 {
            font-family: $heading-font;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: $logo-color;
        }

        h2 {
            font-family: $heading-font;
            font-size: 24px;
            text-align: center;
            color: #333333 !important;
        }

        .info {
            p {
                margin-bottom: 50px;
                font-weight: 400;
                font-size: $size;
                color: #787878;
            }
        }
    }


    .amenities {
        margin-bottom: 20px;
        background: linear-gradient(to bottom right, #84AF10, green);
        box-sizing: border-box;
        box-shadow: 5px 5px 5px #8e8989;

        .info {
            padding-top: 25px;
            margin-left: 25px;


            h2 {
                color: white;
                font-family: $heading-font;
                font-weight: 400;
                text-transform: none;
                font-size: 24px;
            }

            p {
                font-weight: 400;
                font-size: $size;
                color: #333333 !important;
            }
        }

        .padding {
            margin: 0px;
            padding: 0px;
        }

        .amenities-cat-item {
            margin-top: 30px;
            background-color: #e4f7f6;
            padding: 15px 0;
            border-radius: 3%;
            margin-bottom: 30px;

            img {
                height: 75px;
                width: 75px;
                margin:10px auto;
            }

            h4 {
                margin: 30px 0;
                text-align: center;
                font: 18px $monM;
        
            }
        }
    }
}
/*Room Css */
#rooms-section {
    background-image: url(../images/room-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-attachment: fixed;
    margin-bottom: $margin;

    .heading {
        padding-top: 50px;
        margin-bottom: $margin;

        h2 {
            font-family: $heading-font;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            color: white !important;
            margin-bottom: 20px;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
        }

        p {
            font-size: 16px;
            text-align: center;
            color: white;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .slick-slide {
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        width: 250px;
        cursor: grab;

        img {
            height: 200px;
        }
    }

    .room-description {
        margin-right: 0px;
        background-color: #e4f7f6;
        margin-bottom: 25px;
        margin-bottom: 80px;
        width: 250px;
        padding-bottom: 30px;

        .image {
            img {
                width: 100%;
                height: 200px;
                margin-bottom: 20px;
                object-fit: cover;
                object-position: center;
            }
        }



        .info {

            h4 {
                margin-bottom: 10px;
                font: 18px $monM;
                text-transform: uppercase;
                padding:0 10px;
                line-height:1.6;
            }

            .price {
                color:$logo-color;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            p {
                font-size: 20px;
                font-weight: 400;
            }


            .icon {
                font-size: 22px;

                i {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }

            a {
                font-size: 14px;
                margin-bottom: 10px;
                text-transform: uppercase;
                border: 1px solid $logo-color;

            }


            a:hover {
                box-shadow: none;
            }
        }
    }
}

/*Activites Css */
#activites {
    .heading {
        margin-bottom: $margin;
        font-family: $heading-font;

        h2 {
            font-size: 24px;
        }
    }

    .padding {
        margin: 0;
        padding: 0;
    }

    .activite_title {
        font-family: $heading-font !important;
    }
}

/* Testimonial Section */
#testimonial {
    .heading {
        margin-bottom:75px;
        h4 {
            color: #8F0303;
            padding-top: 50px;
            font-family: $heading-font;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: $logo-color;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        h2 {
            font-family: $heading-font;
            font-size: 24px;
            text-align: center;
            color: #333333 !important;
        }
    }

    #google-reviews{
        margin-bottom:50px;
        .slick-slide{
            margin:0 20px;
            .item{
               background-color:white;
               min-height:300px;
               padding:50px 20px;
               border-radius:25px;
               .review-text{
                    text-align:center;
               }
            }
        }
    }

    .customer-review{
        margin:0 20px;
        .slide-item{
            background-color:white;
            padding: 50px 20px;
            border-radius:25px;
            min-height:300px;
            text-align:center;
            .overview{
                display:block;

                span{
                    padding-bottom:5px;
                    display:block;
                    font:18px $monM;
                }
            }

           .star-rating{
                 ul{
                    li{
                        margin:0;
                        i{
                            color:#e4b248;
                            font-size:20px;
                        }
                    }
             }
           }
        }
    }
}


#subscribe {

    .background {
        border-top: 5px solid #84AF10;
        box-shadow: inset 0px 5px 5px #8e8989;
        background: hsl(76, 59%, 35%);
    }

    .text {
        padding-top: 25px;
        font: 14px $monM;
        color: white;
    }

    form {
        padding-top: 25px;

        input,
        input::-webkit-input-placeholder {
        font-size: 14px;
        }

        .form-control {
            line-height: 2.5;
        }

        .btn {
            position: absolute;
            top: 25px;
            right: 0;
            border-radius: 0 3px 3px 0;
            line-height: 2.5;
            padding: 5px 20px;
        }

        .btn-success {
            border: none !important;
            background: #00ca4c !important;
        }

        .waves-button-input {
            background: #00ca4c !important;
            border: #00ca4c !important;
            color: white;
        }

        .btn-success:hover {
            border: none !important;
            background: #00ca4c !important;
        }

        .waves-button-input:hover {
            background-color: #00ca4c !important;
            border: #00ca4c !important;

        }


    }

    .followus {

        .title {
            padding-top: 10px;
            font-size: 22px;
            text-transform: uppercase;
            padding-left: 100px;
            font-family: $heading-font;
            color: white;
        }

        .fa {
            font-size: 18px;
        }

        .btn {
            color: white;
            padding-top: 13px;
            position: relative;
            left: 50px;
        }
    }
}

.footer-content {
    background-color: #47434a;
    color: white;
    .footer-logo img {
        height: 150px;
        width: 265px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .text-wrapper {
        padding: 39px 10px;
        margin-left: 30px;
        .title{
            font:18px $monM;
            color:$logo-color;
            line-height:2.2;
        }
        .description{
            li{
                font-size:14px;
                line-height:2;
                position:relative;
                padding:0 30px;
                span{
                    position:absolute;
                    color:$logo-color;
                    font-size:18px;
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
            }
        }
    }
    .policy {

        text-align: center;

        li {
            display: inline-block;
            margin-right: 10px;
            text-align: center;


            a {
                font-size: 12px;
                color: #979798;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

    .copyright {
        font-size: 12px;

        .name {
            color: $logo-color;
        }
    }

    .Developedby {
        font-size: 12px;
    }
}

/*Restuarant Css */
.restuarant-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    box-shadow: $shadow;

    .text-wrapper {
        position: absolute;
        top: 50%;
        color: white;

        h1 {
            text-transform: uppercase;
            font-family: $heading-font;
            font-weight: 400;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);

        }

        h5 {
            text-transform: uppercase;
            font-family: $monM;
            font-size: 18px;
        }
    }
}


.restuarant-banner img {
    position: absolute;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

#about-restuarent {

    .restauarant {

        margin-top: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .heading {
        padding-top: 20px;

        h3 {
            font-family: $heading-font;
        }
    }

    .text-wrapper {

        p {
            font-size: 16px;
            color: $color;

        }
    }

    .cook_image {
        margin-bottom: 25px;

        img {
            height: 125px;
            width: 125px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 18%;
            box-shadow:$shadow;
        }

        p {
            margin-bottom: 25px;
            color: $color;
        }
    }
}

#bar {
    .wrapper {
        position: relative;
        margin-bottom: 30px;


        img {
            box-shadow: $shadow;

        }
    }

    .about-bar {
        position: absolute;
        top: 20%;
        right: -150px;
        background-color: #e9f8fd;
        height: 375px;
        width: 400px;
        border: 1px solid #f1f1f1;
        padding: 50px 30px 30px 30px;
        border-radius: 5px;
        box-shadow:$shadow;

        h4 {
            font-family: $heading-font;
            text-transform: uppercase;
            color: $heading-color;
            margin-bottom: 0px;
        }

        p {
            font-size: 16px;
            color: $color;
        }
    }
}

#food-item {
    margin-bottom: 50px;

    h1 {
        margin-top: 30px;
        text-align: center;
        font-family: 500px;
    }

    .food-menu {
        .heading {
            margin-bottom:30px;
            h1 {
                font-family: $heading-font;
                margin-bottom: 25px;
                text-transform: uppercase;
                color: $heading-color;
                font-size: 30px;
            }
        }

    }

    .snip1482 {
        font-family: $heading-font;
        position: relative;
        float: left;
        margin: 10px 20px;
        min-width: 250px;
        max-width: 250px;
        height: 200px;
        width: 100%;
        color: #ffffff;
        text-align: right;
        line-height: 1.4em;
        background-color: white;
        border-radius: 1%;
        font-size: 16px;
        margin-bottom: 10px;
        box-shadow: 10px 10px 5px #adb798;
        border-radius: 50%;
    }

    .snip1482 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1482 img {
        position: absolute;
        right: 0%;
        top: 50%;
        opacity: 1;
        width: 100%;
        height: 200px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        border-radius: 50%;
    }

    .snip1482 figcaption {
        position: absolute;
        width: 50%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 20px 0 20px 20px;
    }

    .snip1482 h2,
    .snip1482 p {
        margin-right: 20px;
        width: 100%;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }

    .snip1482 h2 {
        font-family: $heading-font;
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-right: 25px;
        font-size: 18px;
    }

    .snip1482 small {
        color: black;
        font-size: 16px;
        font-family: fonts;
        font-weight: bold;
    }

    .snip1482 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .snip1482:hover img,
    .snip1482.hover img {
        width: 60%;
        right: -10%;
        height: 50%;
    }


    .snip1482:hover figcaption h2,
    .snip1482.hover figcaption h2,
    .snip1482:hover figcaption p,
    .snip1482.hover figcaption p {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}


.last-banner {
    position: relative;

    .text-wrapper {
        position: absolute;
        top: 35%;
        color: white;

        h1 {
            text-transform: uppercase;
            font-weight: 400;
            font-family: $heading-font;
            margin-bottom: 20px;
            font-size: 30px;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
        }
    }
}

/*Gallery page css  */
.gallery-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    box-shadow: $shadow;

    .text-wrapper {
        position: absolute;
        top: 50%;
        color: white;


        h1 {
            font-family: $heading-font;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
        }
    }

    img {
        position: absolute;
        max-height: auto;
        min-height: 450px;
        width: 100%;
    }


}

#gallery {
    margin-top: 20px;
    border: solid 5px white;
    border-bottom-color: white;
    border-left-color: white;
    border-radius: 2px;
    border-right-color: white;
    border-top-color: #ddd;
    box-shadow: $shadow;
    box-sizing: border-box;
}

/* Contact Us page Css */
.contactus-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    box-shadow: $shadow;

    .text-wrapper {
        position: absolute;
        top: 50%;
        color: white;

        h1 {
            text-transform: uppercase;
            font-family: $heading-font;
            font-weight: 400;
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
        }

        h5 {
            text-transform: uppercase;
            font-family: $heading-font;
            font-size: 22px;
        }
    }
}

.contactus-banner img {
    position: absolute;
    height: 450px;
    width: 100%;
}


#contactus {
    margin-bottom: $margin;
    padding-top: 20px;

    .form-area {
        .heading {
            margin-bottom: 20px;
            font-family: $heading-font;

            .color {
                color: $logo-color;
            }
        }

        .btn {
            font-size: 18px;
            background-color: $book-color;
            border: 1px solid $logo-color;
            text-transform: uppercase;
            padding: 5px 30px 5px 30px;


        }

        .btn:hover {
            background-color: white;
            color: $logo-color;
            transition: 0.8s;
            border: 1px solid $logo-color;

        }
    }

    .contact-info {
        height: 500px;
        border-left: 2px solid $logo-color;

        h4 {
            font-family: $heading-font;
        }

        .table {
            margin-left: 30px;
            width: 90%;
            font-size: 16px;
        }
    }
}

/* Reservation Page Css */
.btn-primary {
    color: #fff;
    background-color: $logo-color;
    border-color: $logo-color;
    margin-bottom: 50px;
}

.package-list {
    margin-left: 20px;
}

.nav-tabs {
    margin-bottom: 20px;

    .nav-item {
        .active {
            background-color: $logo-color;
            color: white !important;
        }

        .nav-link {
            font-size: 20px;
            font-family: $heading-font;
            color: $logo-color;
        }
    }
}

input[type="checkbox"] {
    width: 15px;
    /*Desired width*/
    height: 15px;
    /*Desired height*/
    margin-right: 10px;
}

.form-group {


    input:focus {
        outline: none !important;
    }
}

/* Roomspage Css */
.rooms-banner {
    position: relative;
    margin-bottom: 100px;
    .banner-image {
        overflow: hidden;
        height: 100vh;
        position: relative;
        box-shadow: $shadow;
    }

    .banner-image img {
        position: absolute;
        height: 100vh;
        min-width: 100%;
    }

    .text-wrapper {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 0, 0, 0));
        height: 150px;
        width: 100%;
        color: white;

        .heading {
            padding-top: 50px;

            h3 {
                font-family: $heading-font;
                line-height: normal;
                font-weight: 500;
            }

            i {
                font-size: 24px;
                margin-right: 24px;
            }

        }

        .rate-info {
            padding-top: 30px;

            .rate-label {
                padding-top: 20px;
                color: #fff;
                font-weight: 500;
                text-transform: uppercase;

                .btn {
                    position: absolute;
                    right: 25px;
                    top: 50px;
                    border-outline: none;
                }
            }
        }
    }
}

#room-detail{
    margin-bottom:0;
    .banner-image{
        max-height:600px;
        img{
            margin-top:100px;
            height: 100%;
            object-fit:cover;
            object-position:center;
        }
    }

    .text-wrapper{
        height:100px;
        padding:0 20px;

        .heading{
            h3{
                font:24px $monM;
                text-transform:uppercase;
            }
        }

        .rate-info{
            .rate-label{
                font:18px $monM;
            }
        }
    }
}

.rooms-page-description{
    padding:50px 30px;

    .title{
        font:18px $monM;
        line-height:2;
        color:$logo-color;
    }

    .room-feature{
        margin-left:30px;
        li{
            position:relative;
            list-style-type: square;
            line-height:1.8;
        }
           
    }
}


#wrapper {
    .tab-link {
        font-family: $heading-font;
    }
}

#room-description {
    hr {
        border: 0;
        height: 1px;
        background: $logo-color;
        background-image: linear-gradient(to right, $logo-color, #333, $logo-color)
    }

    margin-bottom:100px;

    .room-image {
        img {
            width: 100%;
            height: 200px;
            box-shadow: $shadow;
            margin-bottom: 50px;
            object-fit: cover;
            object-position: center;
        }
    }

    .room-detail {
        padding-left: 20px;

        .heading {
            color: #4d4d4d;

            h3 {
                font: 14px $monM;
                text-transform:uppercase;
                font-weight: 600;
            }
        }

        p {
            font-family: $heading-font;
            font-weight: 400;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
        }
    }

    .room-feature {
        color: $color;
        font-size: 14px;

        li {
            position:relative;
            list-style-type: square;
            line-height:1.8;
            
        }
    }

    .room-price {
        float: right;

        .price {
            text-align: right;

            strike {
                color: red;
                font-size: 14px;
            }

            h2 {
                font:16px $heading-font;
                color: $color;
                margin-top: 10px;

            }
        }

        .button {
            background-color: $book-color;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 3px;
            float: right;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $logo-color;
        }

        .button:hover {
            background-color: white;
            border: 1px solid $logo-color;
            color: $logo-color;
            transition-duration: 0.8s;
        }
    }
}

/* Event Page Css */
.event-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5) inset, 0 5px 10px 5px rgba(0, 0, 0, .5);

    .text-wrapper {
        position: absolute;
        top: 50%;
        color: white;

        h1 {
            text-transform: uppercase;
            font-family: $heading-font;
            font-weight: 400;
        }

        h5 {
            font-family: $monM;
            font-weight: 300;
            font-size: 18px;
        }
    }
}

.event-banner img {
    position: absolute;
    height: 450px;
    width: 100%;
}

#event-description {
    .event {
        margin-bottom: 30px;
        background-color: white;
        height: auto;
        overflow: hidden;

        .image img {
            width: 100%;
            height: 300px;
            margin: 40px 10px;
            box-shadow: $shadow;
            object-fit: cover;

        }

        .title {
            padding-top: 20px;
            font-family: $heading-font;

            h3 {
                color: $logo-color;
                font-family: $heading-font;
                font-size: 18px;

            }
        }

        .details {
            padding-left: 15px;

            li {

                line-height: 1.6;
                color: $color;
                text-align: center;
                list-style: none;
                font-size: 16px;
            }
        }
    }
}

#tab-1 {

    .event {
        margin-bottom: 50px;

        .image img {
            width: 100%;
            height: 300px;
            box-shadow: $shadow;
            object-fit: cover;
        }

        .image:hover {
            opacity: 0.5;
        }

        .event-details {
            margin-top: 30px;

            .event-header {
                margin-bottom: 10px;
                height: auto;

                .event-time {

                       width: 100px;
                        height: 115px;
                        border: solid 2px #84AF10;
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-right:15px;

                    .day {
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 1;
                        text-align: center;
                        color: $logo-color;
                        margin: 0px;
                    }
                    .month {
                
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        color: $logo-color;
                        margin: 0px;
                    }
                }


                .event-info {
                    font-weight: 400;

                    h2 {
                        color: $monM;
                        font-size: 18px;
                    }
                }
            }

            .event-detail {
                p {
                    font-size: 14px;
                    color: $color;
                    text-align: justify;
                }

                .btn {
                    font-size: 18px;
                }
            }
        }
    }
}

// Conference-hall Page Css

#conference-detail {
    .conference-description {
        margin: 30px 0 30px 0;

        #conference-slider {
            max-width: 90%;
            width: 100%;
            box-shadow: $shadow;
            height: 300px;
            margin-bottom: 30px;

            .carousel-item {
                img {
                    height: 300px;
                    width: 100%;
                    max-width: 100%;

                }
            }
        }

        .conference-detail {
            ul {
                li {

                    font-size: 16px;
                }
            }
        }
    }

    .title {
        padding-top: 20px;
        font-family: $heading-font;

        h3 {
            color: $logo-color;
            font-family: $monM;
            font-size: 18px;
        }
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $logo-color;
        padding: 8px 20px;
        color: white;
        border: 1px solid $logo-color;
        margin-bottom: 10px;
    }

    .button:hover {
        color: $logo-color;
        background-color: white;
        border: 1px solid $logo-color;
        transition: 1s;
    }

}

/*Search Result Page Css*/
.select_guest {
    margin-bottom: 10px;
}

.select_guest label {
    font-size: 16px;
}

.search_rooms {

    height: auto;
    background-color: white;
    margin-bottom: 100px;
    box-shadow: $shadow;
    border: solid 5px white;
    border-bottom-color: white;
    border-left-color: white;
    border-radius: 2px;
    border-right-color: white;
    border-top-color: #ddd;

    .room_title h4 {
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
    }


    .room_picker {
        padding: 10px 18px;
    }


    .room_picker {
        padding: 10px 18px;
    }

    .nav-tabs {
        .active:hover {
            color: white;

        }

        .nav-item {
            background-color: $logo-color;
            border: 1px solid white;



            .nav-link {
                color: white !important;
                font-size: 18px;
                font-family: "riseofkingdom";
            }


        }



        .nav-item:hover {
            background-color: white;
            border: 1px solid $logo-color;
            transition: 0.8s;

            .nav-link {
                color: $logo-color !important;
            }

        }
    }

    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        padding: 10px 15px;
    }

    .note {
        border-top: 1px solid $logo-color;
        padding: 20px 0px 0px 50px;

        h2 {
            color: red;
            font-size: 14px;
        }
    }

    .rooms_select {
        display: block;
        width: 110%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .search_button {
        margin-bottom: 20px;
        margin-top: 20px;

    }



}

.header_content {
    background: $logo-color;
    color: white;
    padding: 7px 15px;
    margin-bottom: 10px;

    .content {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: white;
        background-color: $logo-color;

        &__container {
            font-weight: 600;
            overflow: hidden;
            height: 40px;
            text-align: center;


            &:after,
            &:before {
                position: absolute;
                top: 0;
                font-size: 36px;
                line-height: 40px;

                -webkit-animation-name: opacity;
                -webkit-animation-duration: 2s;
                -webkit-animation-iteration-count: infinite;
                animation-name: opacity;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            &__text {
                display: inline;
                text-align: center;
                margin: 0;
            }

            &__list {
                margin-top: 0;
                text-align: center;
                list-style: none;

                -webkit-animation-name: change;
                -webkit-animation-duration: 10s;
                -webkit-animation-iteration-count: infinite;
                animation-name: change;
                animation-duration: 10s;
                animation-iteration-count: infinite;

                &__item {
                    line-height: 40px;
                    margin: 0;
                }
            }
        }
    }

    @-webkit-keyframes opacity {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-webkit-keyframes change {

        0%,
        12.66%,
        100% {
            transform: translate3d(0, 0, 0);
        }

        16.66%,
        29.32% {
            transform: translate3d(0, -25%, 0);
        }

        33.32%,
        45.98% {
            transform: translate3d(0, -50%, 0);
        }

        49.98%,
        62.64% {
            transform: translate3d(0, -75%, 0);
        }

        66.64%,
        79.3% {
            transform: translate3d(0, -50%, 0);
        }

        83.3%,
        95.96% {
            transform: translate3d(0, -25%, 0);
        }
    }

    @-o-keyframes opacity {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-o-keyframes change {

        0%,
        12.66%,
        100% {
            transform: translate3d(0, 0, 0);
        }

        16.66%,
        29.32% {
            transform: translate3d(0, -25%, 0);
        }

        33.32%,
        45.98% {
            transform: translate3d(0, -50%, 0);
        }

        49.98%,
        62.64% {
            transform: translate3d(0, -75%, 0);
        }

        66.64%,
        79.3% {
            transform: translate3d(0, -50%, 0);
        }

        83.3%,
        95.96% {
            transform: translate3d(0, -25%, 0);
        }
    }

    @-moz-keyframes opacity {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @-moz-keyframes change {

        0%,
        12.66%,
        100% {
            transform: translate3d(0, 0, 0);
        }

        16.66%,
        29.32% {
            transform: translate3d(0, -25%, 0);
        }

        33.32%,
        45.98% {
            transform: translate3d(0, -50%, 0);
        }

        49.98%,
        62.64% {
            transform: translate3d(0, -75%, 0);
        }

        66.64%,
        79.3% {
            transform: translate3d(0, -50%, 0);
        }

        83.3%,
        95.96% {
            transform: translate3d(0, -25%, 0);
        }
    }

    @keyframes opacity {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @keyframes change {

        0%,
        12.66%,
        100% {
            transform: translate3d(0, 0, 0);
        }

        16.66%,
        29.32% {
            transform: translate3d(0, -25%, 0);
        }

        33.32%,
        45.98% {
            transform: translate3d(0, -50%, 0);
        }

        49.98%,
        62.64% {
            transform: translate3d(0, -75%, 0);
        }

        66.64%,
        79.3% {
            transform: translate3d(0, -50%, 0);
        }

        83.3%,
        95.96% {
            transform: translate3d(0, -25%, 0);
        }
    }

}


.package-body {
    .product-chooser-item {
        .title {
            text-align: left;
            font-size: 14px !important;
            display: initial !important;
            text-transform: uppercase;
            color: $logo-color;
            font-weight: 600;
        }

        .price {
            float: right;
            background-color: $logo-color;
            padding: 5px 5px;
            font-weight: 600;
            color: white;
        }

        .description {
            display: block;
            margin: 5px;

        }
    }
}

.search_rooms select {
    padding: 0px 10px;
}

.search_result {

    margin-bottom: 20px;

    .heading {
        background: #4d4d4f;
        color: white;
        padding: 15px 15px;
        border: 1px solid;

        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            background-color: $logo-color;
            padding: 10px 20px;
            border-radius: 5px;
        }

        a:hover {
            opacity: 0.5;
        }
    }

    .offer_room {
        border: 1px solid gray;
        margin-bottom: 10px;

        .image {
            img {
                height: auto;
                width: 100%;
            }
        }

        .room_description {
            h4 {
                color: $logo-color;
                font-family: $heading-font;
                font-size: 24px;
                padding-top: 10px;
            }
        }

        .price_details {

            .btn {
                padding: 5px 40px;
                color: white;
                text-decoration: none;
                background-color: $logo-color;
            }

            .card-header {
                text-decoration: underline;
                color: $logo-color;
                font-size: 14px;
                text-align: center;
            }

            .card-body {
                font-size: 14px;
            }
        }
    }

    .rooms_rate_list {
        border: 1px solid gray;

        .rooms_search {

            .date {
                background-color: $logo-color;
                color: white;
                padding: 10px 10px;
                font-size: 18px;
            }


            .card-header a {
                text-decoration: none;
                color: black;

                .text {
                    float: right;

                    .rate {
                        font-size: 24px;
                        text-decoration: bold;
                    }
                }
            }

            .card-header a:after {
                font-family: FontAwesome;
                content: "\f068";
                float: left;
                color: $logo-color;
                margin-right: 10px;
                border: 1px solid $logo-color;
                padding: 1px 3px;
                font-size: 12px;
            }

            .card-header a.collapsed:after {
                float: left !important;
                content: "\f067";
                color: $logo-color;
                margin-right: 10px $logo-color;
            }

            .list-group-item {
                a {
                    color: $logo-color;
                    text-decoration: none;
                    font-family: $heading-font;
                    font-size: 18px;
                }
            }
        }


        .card-body {

            .policy_text {
                font-size: 14px;
                color: black;
                padding-left: 20px;
            }

            .price_details {
                float: right;
                display: flex;
                align-items: center;


                .strike-rate {
                    font-size: 14px;
                    margin-right: 10px;
                    color: red;
                }

                .rate {
                    font-size: 15px;
                    margin: 10px 20px 0 0;

                    p {
                        font-weight: 600;
                    }
                }

                .inline {
                    display: inline-block;
                }

                .btn {
                    background-color: $logo-color;
                    padding: 5px 40px;
                    color: white;
                    text-decoration: none;
                    border: none !important;
                }




            }

            .child-collapse {
                border: 1px solid gray;
                box-shadow: 0px 3px 2px #888888;
                padding: 20px 30px;

                .title {
                    h2 {
                        font-size: 16px;
                        text-decoration: underline;
                    }
                }

                .room_details {
                    h4 {
                        font-size: 14px;
                    }

                    p {
                        line-height: 1;
                        font-size: 14px;
                        margin-left: 40px;
                        display: list-item;
                    }

                    .btn {
                        background-color: $logo-color;
                        padding: 5px 40px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.terms {
    padding: 10px 10px;
    line-height: 1;
}

.rate_details {
    .heading {
        background: #4d4d4f;
        color: white;
        padding: 15px 15px;
        border: 1px solid;

        a {
            text-decoration: none;
            color: white;
            font-size: 18px;

            background-color: $logo-color;
            padding: 10px 20px;
            border-radius: 5px;
        }

        a:hover {
            opacity: 0.5;
        }
    }

    .header_content {
        background: $logo-color;
        color: white;
        padding: 7px 15px;
        margin-bottom: 10px;
    }

    .inline {
        display: inline-block;
    }

    .review_booking {
        border: 1px solid gray;
        margin-bottom: 50px;

        .book_room {
            border-bottom: 1px solid gray;
            background-color: #e4e4e4;

            .room_selected {
                img {
                    height: 100px;
                    width: 125px;
                    border-left: 5px solid $logo-color;
                }
            }



        }

        .review_content {
            padding: 10px 20px;

            .yoursearch {
                margin-bottom: 20px;
                background-color: yellow;
                padding: 10px 10px;
            }

            .title h4 {
                font-size: 18px;
                text-transform: uppercase;
                padding: 10px;
                text-decoration: none;
                font-weight: 500;
                background-color: red;
                color: white;
            }

            .head_title {
                font-size: 18px;
                text-transform: uppercase;
                padding: 10px;
                font-weight: 500;
                text-decoration: none;

            }


            .notice {
                padding: 0px 10px;
                text-align: justify;
                text-transform: uppercase;

                color: $color;
            }

            .table {
                td {
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
}

.book_room {
    border: 1px solid gray;
    background-color: #e4e4e4;
    margin-bottom: 20px;

    .room_selected {
        img {
            height: 100px;
            width: 125px;
            border-left: 5px solid $logo-color;
        }
    }
}

.card {
    margin-bottom: 20px;

    .card-header {
        padding: .75rem 0rem;
    }

    .number {
        color: white;
        background-color: $logo-color;
        padding: 14px 12px;
        margin-right: 15px;
        font-weight: bold;
    }


    .room-title {
        h2 {
            font-size: 18px;
            color: black;
        }
    }

    .select_room_detail {
        border-right: 1px solid black;
    }

    .button {
        float: right;
    }



}

/*Search Ends*/
/*Mobile Responsive Contact Us  Page*/
// Extra small devices (portrait phones, less than 576px)
@media only screen and (min-width :300px) and (max-width :640px) {

    #popup_this {
        display: none !important;
    }

    .b-modal {
        display: none !important;
    }

    // Navigation 
    .navbar-brand {
        position: absolute;
        background-color: white;
        height: 50px;
        width: 100px;
        border-radius: 50%;
        top: 0;
    }

    .navbar-brand img {
        display: none;
    }

    .half-circle {
        display: none !important;
    }

    .navbar-brand-scroll img {
        height: 65px;
        width: 125px;
        display: block;

    }

    .block-menu {
        width: 100%;

        li {
            display: block;

            a {
                margin-top: 0px;
                font-size: 18px;
                text-align: center;
            }
        }

        .dropdown {
            text-align: center;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    #book_botton {
        display: none !important;
    }


    .content {
        width: 100%;
        overflow-x: hidden;

    }

    /*Contact Us page*/
    .contactus-banner {
        padding-top: 0px;
        height: 150px;
        margin-bottom: 0px;

        .text-wrapper {
            top: 30%;
            line-height: 0.5;

            h1 {
                font-size: 18px;
            }

            h5 {
                font-size: 16px;
            }
        }
    }


    .contactus-banner img {
        position: static;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    #contactus {

        margin-bottom: 20px;
        padding-top: 15px;


        .form-area {
            margin-bottom: 0px;

            .heading {
                margin-bottom: 20px;

                h3 {
                    font-size: 22px;
                }
            }


            .form-group {
                margin-bottom: 10px;
            }

            .form-control {
                font-size: 14px;
                line-height: 0.5;
            }
        }

        .contact-info {
            height: auto;
            border-left: none;

            h4 {
                font-size: 18px;
            }

            .table {
                font-size: 14px;
            }
        }
    }

    iframe {
        height: 200px;
    }

    /* Contact Us  Page Ends*/
    /* Gallery Section Page  Starts*/

    .gallery-banner {
        overflow: hidden;
        height: 150px;
        position: relative;
        box-shadow: $shadow;

        .text-wrapper {
            position: absolute;
            top: 40%;
            color: white;


            h1 {
                font-family: $heading-font;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
                font-size: 18px;
            }
        }

        img {
            position: static;
            max-height: 150px;
            min-height: 150px;
            width: 100%;
            object-fit: cover;
        }


    }

    .ug-lightbox .ug-lightbox-arrow-right,
    .ug-lightbox .ug-lightbox-arrow-left {
        display: none !important;
    }

    /*Event Page Responsive*/
    .event-banner {
        overflow: hidden;
        height: 150px;
        position: relative;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 5px 2px rgba(0, 0, 0, 0.5);

        .text-wrapper {
            top: 30%;
            line-height: 0.2;

            h1 {
                font-size: 18px;
            }

            h5 {
                font-size: 14px;
            }
        }
    }


    .event-banner img {
        position: static;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .content-wrapper {
        padding: 20px 5px;
    }

    #wrapper {
        .tab-link {
            font-size: 12px;
            font-family: $heading-font;
            font-weight: 600;
            padding: 10px 5px;
        }
    }

    #event-description {
        .event {
            margin-bottom: 30px;
            background-color: inherit;
            height: auto;
            overflow: inherit;

            .image img {
                height: 150px;
                width: 100%;
                margin: 0px;
                box-shadow: 5px 5px 5px #8e8989;
            }

            .title {
                padding-top: 20px;

                p {
                    font-size: 18px;
                }
            }

            .details {
                padding-left: 14px;

                li {
                    font-size: 14px;
                    padding-left: 30px;
                }
            }
        }
    }

    #tab-1 {
        .event {
            .image img {
                height: 150px;

            }

            .event-details {
                .event-header {
                    margin-bottom: 10px;
                    height: 50px;

                    .event-time {
                        width: 50px;
                        height: 50px;
                        border: solid 2px $logo-color;
                        padding-top: 5px;
                        float: left;
                        margin-right: 20px;




                        .day {
                            font-size: 18px;
                            line-height: 1;
                        }

                        .month {
                            font-size: 14px;
                            margin: 0px;
                        }
                    }


                    .event-info {

                        h2 {
                            font-size: 18px;
                            padding: 5px;
                        }

                        h4 {
                            font-size: 18px;
                        }
                    }
                }

                .event-detail {
                    p {

                        font-size: 14px;
                    }
                }
            }
        }
    }

    // Conference Hall Responsive
    #conference-detail {

        .tab-link {
            font-size: 14px;
            padding: 5px 10px;
        }

        .conference-description {
            #conference-slider {
                height: 150px;
                max-width: 100%;

                .carousel-item {
                    img {
                        height: 150px;
                        width: 100%;
                    }

                }
            }
        }

        .title {
            padding-top: 20px;
            font-family: "riseofkingdom";
            text-align: center;
        }

        .conference-detail {
            padding-left: 40px;

        }

        .button {
            margin: 4px 36px;
        }
    }

    /* Tab-1 ends */
    /*Rooms Page Responsive*/
    .rooms-banner {
        position: relative;
        margin-bottom: 10px;

        .banner-image {
            overflow: hidden;
            height: 200px;
            position: relative;
        }

        .banner-image img {
            position: static;
            height: 200px;
            max-width: 100%;
        }

        .text-wrapper {
            bottom: 0;
            height: 100px;
            width: 100%;

            .heading {
                padding-top: 50px;

                h3 {
                    font-size: 16px;
                }

                i {
                    font-size: 16px;
                    margin-right: 24px;
                }

                p {
                    font-size: 12px;
                }
            }

            .rate-info {
                display: none;
            }
        }
    }


    .content-wrapper {
        padding: 14px;
    }

    #room-description {
        margin-bottom: 50px;

        .room-image {
            img {

                height: 200px;
                margin-bottom: 20px;
            }
        }

        .room-detail {
            padding-left: 20px;
            text-align: center;

            .heading {

                h3 {
                    font-size: 18px;
                }
            }

            p {

                font-size: 12px;
            }
        }

        .room-feature {
            font-size: 16px;
        }

        .room-price {
            float: none;

            .price {
                text-align: center;
            }

            .booking-btn {
                text-align: center;

                .button {
                    padding: 10px 60px;
                    font-size: 14px;
                    margin: 10px 0;
                    float: none;
                }
            }

            strike {
                font-size: 14px;
            }

            h2 {
                font-size: 18px;
                line-height: 1;
            }
        }
    }

    /*Home Page Responsive*/
    #loader-wrapper {}

    http: //localhost/chhaimale/#slider

    #popup_this {
        display: none !important;
    }


    .banner-slider {
        margin-bottom: 20px;
        position: relative;

        .carousel-item {
            overflow: hidden;
            height: 300px;

            img {
                max-width: 100%;
                height: 300px;
                position: absolute;
                margin-top: 80px;
                object-fit: cover;
                box-shadow: none;
            }
        }

        .booknow {
            display: none;
        }
    }

    /*about us */
    #aboutus-section {
        margin-bottom: 0px;
        background-color: #e9ebee;
        margin-top: 0px;

        .heading {
            margin-bottom: 10px;

            h4 {

                font-size: 16px;
            }

            h2 {
                font-size: 18px;
            }
        }

        .info {
            p {
                margin-bottom: 30px;
            }
        }

        .owl-item {
            margin-right: 9px !important;
        }


        .amenities {

            height: 225px;
            max-width: 100%;
            text-align: center;
            margin-bottom: 0px;


            .info {
                padding-top: 10px;
                margin-bottom: 10px;

                h2 {
                    color: white;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                p {
                    margin-bottom: 15px;
                    text-align: center;
                }
            }

            .amenities-cat-item {
                img {
                    height: 25px;
                    width: 25px;
                    margin-left: 25px;
                    margin-bottom: 10px;
                }

                h4 {
                    text-align: none;
                    font-family: $heading-font;
                    font-size: 16px;
                    margin: 5px 0;
                }
            }
        }
    }

    /*Room Css */
    #rooms-section {
        background-image: url(../images/room-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 20px;

        .heading {
            padding-top: 30px;
            margin-bottom: 5px;

            h2 {
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                color: white !important;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                text-align: center;
                color: white !important
            }
        }

        .slick-slide {
            text-align: center;
            margin-right: 15px;
            margin-left: 20px;
            width: 150px;


            img {
                height: 100px;
            }
        }

        .slick-next {
            display: none !important;
        }

        .slick-prev {
            display: none !important;
        }

        .room-description {
            border: 1px solid black;
            margin-right: 20px;
            background-color: #e4f7f6;
            margin-bottom: 25px;
            margin-bottom: 80px;
            width: 300px;


            .info {

                h4 {
                    font-family: $heading-font;
                    font-size: 16px;
                }

                .price {
                    .price_tag {
                        top: 27%;
                        left: 32%;

                        p {
                            font-size: 18px;
                            font-weight: 400;

                        }

                    }
                }


                .icon {
                    font-size: 30px;

                    i {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }

                a {

                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }


    /* Activites*/
    #activites {
        .heading {
            margin-bottom: 20px;
            font-family: $heading-font;

            h2 {
                font-size: 18px;
            }
        }



        .activite-list {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            .activite_card {
                img {
                    height: 200px;
                }
            }

            .activite {
                flex: 0 0 auto;
            }
        }

        .padding {
            margin: 0;
            padding: 0;
        }
    }


    /*Testionomial*/
    #testimonial {
        .heading {
            h4 {
                color: $logo-color;
                padding-top: 50px;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                color: #333333 !important;
            }
        }

      

        .carousel {
            width: 100%;
            margin: 0px;
            padding-bottom: 50px;
            
   
        }

        .carousel .item {
            color: #999;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            min-height: 340px;
        }

        .carousel .item a {
            color: #eb7245;
        }

        .carousel .img-box {
            width: 75px;
            height: 75px;
        }

        .carousel .img-box img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }

        .carousel .testimonial {
            padding: 30px 20px 0px;
            font-size: 12px;
        }

        .carousel .star-rating i {
            font-size: 14px;
            color: #ffdc12;
        }

        .carousel .carousel-indicators {
            bottom: 15px;
            z-index: -2;
        }

        .carousel-indicators li,
        .carousel-indicators li.active {
            width: 8px;
            height: 8px;
        }
    }



    /*Restuarant Page  responsive*/
    .restuarant-banner {
        height: 150px;

        .text-wrapper {

            top: 30%;

            h1 {
                font-size: 18px;
                margin-bottom: 0px;


            }

            h5 {
                font-size: 12px;
            }
        }
    }


    .restuarant-banner img {
        position: static;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }


    #about-restuarent {
        .heading {
            padding-top: 10px;
            line-height: 1;

            h3 {
                font-family: $heading-font;
                font-size: 14px;
                margin-bottom: 0px;
            }
        }

        .text-wrapper {
            margin-bottom: 20px;

            p {
                font-size: 10px;
            }

            img {
                height: 50px;
                width: 50px;
                margin-bottom: 0px;
            }

            strong {
                margin-top: 0px;
                font-size: 12px;
            }
        }

        .cook_image img {
            display: none;
        }

        .cook_image p {
            font-size: 12px;
        }
    }

    #bar {
        .wrapper {
            position: relative;
            margin-bottom: 30px;
            margin-top: 0px;

            img {
                padding-left: 0px;
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
        }

        .about-bar {
            top: 0px;
            left: 15px;
            background-color: $logo-color;
            height: 30px;
            width: 175px;
            padding: 0px;
            border: none;
            border-radius: 0%;


            h4 {
                color: white;
                font-size: 14px;
                padding: 8px 10px;
            }

            p {
                display: none;
            }
        }
    }

    #food-item {

        .top-background {
            height: 50px;
        }

        .food-menu {
            margin-bottom: 0px;

            .heading {
                h1 {
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }

            .snip1482 {
                min-width: 100%;
                height: 200px;
                margin: 10px 0px;

                img {
                    width: 100%;
                    height: 200px;
                }

                figcaption {
                    display: none !important;
                }
            }
        }

        .background {
            height: 25px;
        }
    }

    .last-banner {
        img {
            height: 200px;
        }

        .text-wrapper {
            position: absolute;
            top: 20%;
            color: white;

            h1 {
                font-weight: 400;
                font-size: 18px;
            }

            p {
                margin-bottom: 10px;
            }

            a {
                font-size: 14px;
            }
        }
    }

    /*popup*/
    #popup_this {
        display: none;
    }

    /*book now  botton*/

    #subscribe {
        form {
            padding-top: 10px;

            .form-control {
                line-height: 1.5;
            }

            .btn {
                position: absolute;
                top: 9px;
                right: 15px;
                border-radius: 0 3px 3px 0;
                line-height: 1.6;
            }

            .btn-success {
                border: none !important;
            }
        }

        .followus {
            text-align: left !important;

            .title {
                padding-top: 0px;
                font-size: 18px;
                text-transform: uppercase;
                text-align: left;
            }

            .fa {
                font-size: 18px;
            }

            .btn {
                height: 50px;
                width: 50px;
                margin-right: 5px;
                color: white;
                padding-top: 0px;
                text-align: center;
                float: none;
            }

            .btn-fb:hover {
                background-color: none;
                transition: none;
            }

            .btn-insta:hover {
                background-color: none;
                transition: none;
            }

            .btn-tweet:hover {
                background-color: none;
                transition: none;
            }

            .btn-googleplus:hover {
                background-color: none;
                transition: none;
            }
        }
    }

    // Booking Responsive


    .content {
        padding-top: 100px !important;

        .search_rooms {
            .room_picker {
                padding: 0px 18px;


                .margin {
                    margin-bottom: 0px;
                    padding-top: 12px;
                    float: none;

                    label {
                        font-weight: 500;
                    }
                }

                .right {
                    font-size: 18px;
                    float: none;
                    padding: 5px 90px;
                    font-weight: 600;
                }
            }

            .nav-link {
                font-size: 14px !important;
                border: 2px solid;
            }

            .btn-success {
                margin: 20px 5px 5px 75px;
            }

        }

        #demo {
            display: none;
        }
    }

    // conferencehall Responsive

    .wizard>.steps>ul>li {
        width: 100%;
    }


    #conferencehall {

        margin: 0px;

        .content {
            padding: 0px !important;
        }

        .img-section {
            img {
                display: none;
            }
        }
    }


    #terms {
        padding: 10px 10px;
    }

    #eventbooking {

        .content {
            padding: 0px !important;
        }

        .img-section {
            img {
                display: none;
            }
        }
    }


    // Mobile Responsive Footer

    .footer-content {
        .footer-logo img {
            height: 115px;
            width: 200px;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .text-wrapper {
            padding: 0 0 0 0;
        }
    }

}

/*Mobile Responsive Ends*/
@media only screen and (min-width :640px) and (max-width :767px) {
    .navbar-dark .navbar-toggler {
        margin: 10px;
    }

    #popup_this {
        display: none !important;
    }

    .b-modal {
        display: none !important;
    }

    .block-menu {
        text-align: center;
    }

    .block-menu li a {
        line-height: 10px;
        margin-top: 0px
    }

    .block-menu li {
        display: block;
    }

    .dropdown-menu {
        text-align: center;
        width: 100%;
    }

    .b-modal {
        display: none !important;
    }

    // Navigation 
    .navbar-brand {
        position: absolute;
        background-color: white;
        height: 50px;
        width: 100px;
        border-radius: 50%;
        top: 0;
    }

    .navbar-brand img {
        display: none;
    }

    .half-circle {
        display: none !important;
    }

    .navbar-brand-scroll img {
        height: 65px;
        width: 125px;
        display: block;

    }

    .banner-slider {
        margin-bottom: 0px !important;

        .carousel-item {
            height: 350px;

            img {
                height: 300px;
                box-shadow: none;
            }
        }


        .booknow {
            display: none !important;
        }
    }

    #aboutus-section {

        margin-top: 0px;

    }

    #testimonial {

        .carousel {

            width: 100%;

        }

    }

    #rooms-section {
        .room-description {

            height: 430px;

            .image {
                img {
                    height: 150px;
                }
            }

            .info p {
                font-size: 18px;
            }

            .icon {
                font-size: 30px;
            }
        }
    }

    #aboutus-section .amenities .info {
        padding-top: 25px;
        margin-left: 25px;
        text-align: center;


        p {
            margin-bottom: 0px;
        }
    }

    #subscribe {
        form {
            padding-top: 10px;

            .form-control {
                line-height: 1.5;
            }

            .btn {
                position: absolute;
                top: 9px;
                right: 15px;
                border-radius: 0 3px 3px 0;
                line-height: 1.6;
            }

            .btn-success {
                border: none !important;
            }
        }

        .followus {
            text-align: left !important;
            padding: 0px 75px;

            .title {
                padding-top: 0px;
                font-size: 18px;
                text-transform: uppercase;
                text-align: left;
            }

            .fa {
                font-size: 18px;
            }

            .btn {
                margin-right: 5px;
                color: white;
                padding-top: 10px;
                text-align: center;
                float: none;
            }

            .btn-fb:hover {
                background-color: none;
                transition: none;
            }

            .btn-insta:hover {
                background-color: none;
                transition: none;
            }

            .btn-tweet:hover {
                background-color: none;
                transition: none;
            }

            .btn-googleplus:hover {
                background-color: none;
                transition: none;
            }
        }
    }

    .footer-content {
        .footer-logo img {
            height: 115px;
            width: 200px;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .text-wrapper {
            padding: 0 0 0 0;
        }
    }

    .rooms-banner {
        margin-bottom: 0px;
    }

    .rooms-banner .text-wrapper .rate-info {
        display: none;
    }

    .rooms-banner .text-wrapper .rate-info .rate-label .btn {
        display: none;
    }

    #room-description .room-price {
        float: left;
        margin-left: 20%;
    }

    #room-description .room-price .price {
        text-align: center;
    }

    #room-description .room-price .button {
        float: left;
        margin-left: 13%;

    }

    .event-banner {
        height: 350px;
    }

    .event-banner img {
        height: 350px;
        object-fit: cover;
    }

    #tab-1 {
        .event {
            .image img {
                height: 200px;

            }

            .event-details {
                .event-header {
                    margin-bottom: 10px;
                    height: 50px;

                    .event-time {
                        width: 50px;
                        height: 50px;
                        border: solid 2px $logo-color;
                        padding-top: 5px;
                        float: left;
                        margin-right: 20px;

                        .day {
                            font-size: 18px;
                            line-height: 1;
                        }

                        .month {
                            font-size: 14px;
                            margin: 0px;
                        }
                    }

                    .event-info {

                        h2 {
                            font-size: 18px;
                            padding: 5px;
                        }

                        h4 {
                            font-size: 18px;
                        }
                    }
                }

                .event-detail {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #conference-detail .conference-description #conference-slider {
        height: 250px;
        max-width: 100%;

    }

    #conference-detail .conference-description #conference-slider .carousel-item img {
        height: 250px;
        width: 100%;
    }

    #conference-detail {
        .title {
            text-align: center;
        }

        .conference-detail {
            padding-left: 30%;
        }

        .button {
            margin-left: 35%;
        }


    }

    .restuarant-banner {
        .text-wrapper {
            top: 46%;
        }

        height: 350px;

        img {
            height: 350px;
        }

    }

    #about-restuarent .cook_image img {
        left: 5%;

    }

    #bar {

        .wrapper {
            img {
                height: 400px;
                object-fit: cover;
            }
        }

        .about-bar {
            display: none;
        }

    }

    #food-item .snip1482 {
        margin-left: 30%;
    }


    .gallery-banner,
    .gallery-banner img,
    .contactus-banner,
    .contactus-banner img {
        height: 350px;
        object-fit: cover;
    }

    #contactus .contact-info {
        border: none;
    }

    .contactus-banner .text-wrapper {
        top: 40%;
    }

    iframe {
        height: 300px;
    }

    .content {
        padding-top: 100px !important;

        .search_rooms {
            margin-top: 100px;

            .room_picker {
                padding: 0px 18px;


                .margin {
                    margin-bottom: 0px;
                    padding-top: 12px;
                    float: none;

                    label {
                        font-weight: 500;
                    }
                }

                .right {
                    font-size: 18px;
                    float: none;
                    padding: 5px 90px;
                    font-weight: 600;
                }
            }

            .nav-link {
                font-size: 14px !important;
                border: 2px solid;
            }

            .btn-success {
                margin: 5% 33%;

            }

        }

        #demo {
            display: none;
        }
    }

    // conferencehall Responsive

    .wizard>.steps>ul>li {
        width: 100%;
    }


    #conferencehall {

        margin: 0px;

        .content {
            padding: 0px !important;
        }

        .img-section {
            img {
                display: none;
            }
        }
    }


    #terms {
        padding: 10px 10px;
    }

    #eventbooking {
        .content {
            padding: 0px !important;
        }

        .img-section {
            img {
                display: none;
            }
        }
    }

}

@media only screen and (min-width :768px) and (max-width :991px) {

    .navbar-dark .navbar-toggler {
        margin: 10px;
    }

    #popup_this {
        display: none !important;
    }

    .b-modal {
        display: none !important;
    }

    .block-menu {
        text-align: center;
    }

    .block-menu li a {
        line-height: 10px;
        margin-top: 0px
    }

    .block-menu li {
        display: block;
    }

    .dropdown-menu {
        text-align: center;
        width: 100%;
    }

    .b-modal {
        display: none !important;
    }

    // Navigation 
    .navbar-brand {
        position: absolute;
        background-color: white;
        height: 50px;
        width: 100px;
        border-radius: 50%;
        top: 0;
    }

    .navbar-brand img {
        display: none;
    }

    .half-circle {
        display: none !important;
    }

    .navbar-brand-scroll img {
        height: 65px;
        width: 125px;
        display: block;

    }

    .banner-slider {
        margin: 0;

        .carousel-item {
            min-height: 600px;

            img {
                min-height: 600px;
                box-shadow: none;
            }
        }


        .booknow {
            display: none !important;
        }
    }

    #aboutus-section {
        margin-top: 50px;
    }

    .activite_image img {
        height: 150px;
    }

    #rooms-section .room-description .info .price .price_tag {
        left: 80px;
    }

    #testimonial .carousel {
        width: 100%;
    }

    #subscribe {
        .text {
            padding-top: 20%;
            font-size: 14px;
        }

        form {
            padding-top: 25%;

            .btn {
                top: 43%;
                right: -34%;

            }
        }
    }

    #subscribe .followus .btn {
        margin-right: 0px;
    }


    .footer-content {
        .footer-logo {
            img {
                height: 75px;
                width: 150px;
                margin-top: 30%;
                margin-bottom: 30px;
            }
        }

        .text-wrapper {
            padding-top: 49%;

            p {
                padding-top: 0px;
                font-size: 12px;
            }

            .fa {
                font-size: 18px;
                color: #84AF10;
                width: 30px;
                height: 40px;
                text-align: left;
                margin-right: -8px;
            }
        }

    }


    //Rooms Page Css
    .rooms-banner .text-wrapper .rate-info .rate-label {
        float: right;
    }

    .rooms-banner .text-wrapper .rate-info .rate-label .btn {
        display: none;
    }

    #room-description .room-image img {
        height: 120px;
    }

    #room-description .room-price .price strike {
        font-size: 12px;
    }

    #room-description .room-price .price h2 {
        font-size: 14px;
        font-weight: 600;
    }

    #room-description .room-price .button {
        padding: 8px 12px;
        font-size: 14px;
    }

    // Event Pages 

    #tab-1 .event .image img {
        height: 200px;
    }

    #tab-1 .event .event-details .event-header .event-time {
        width: 70px;
        height: 78px;
        border: solid 2px #84AF10;
        padding-top: 3px;
        float: left;
        margin-right: 20px;
    }

    #tab-1 .event .event-details .event-header .event-info h2 {
        font-size: 18px;
    }

    body #event-description .event .image img {
        height: 200px;
    }

    // Conference Hall

    #conference-detail .conference-description #conference-slider .carousel-item img {
        height: 200px;
    }

    #conference-detail .conference-description #conference-slider {
        height: 200px;
        margin-top: 15%;
    }

    // Contact Us Page{
    #contactus .contact-info {
        border-left: none;
    }

    // Room Booking

    #demo {
        margin-top: 25%;
        height: 200px;
    }

    #demo .carousel-item img {

        min-height: 200px;
    }

    //Responsive Ends
}

/*Responsive for tablet ends*/
@media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
    .block-menu li a {
        line-height: 20px;
    }

    #loader {
        left: 0%;
        right: 0%;
        top: 35%;
        margin: 0 auto;
    }

    #image1 {
        display: block;
        position: relative;
        top: 22%;
        left: 53%;
    }
}

@media only screen and (max-width :450px) {
    body #aboutus-section .amenities {
        height: 225px;
    }
}