

.wrapper {
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

.tab-wrapper {
  text-align: center;
  display: block;
  margin-top:20px;
  border-bottom: 1px solid grey;

}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
}

.tab-link {
  margin-top:20px;
  text-transform: uppercase;
  margin: 0 1%;
  list-style: none;
  padding: 10px 40px;
  color: #aaa;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.5s;
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  letter-spacing: 1px;
  font-size: 18px;
}

.tab-link:hover {
  color: #999;
  border-color: #999;
}

.tab-link.active {
  color: black;
  border-color: #84AF10 ;
}

.tab-link:nth-of-type(1).active {
  color:black;
  border-color: #84AF10 ;
}

.tab-link:nth-of-type(2).active {
  color: #1790D2;
  border-color: #1790D2;
}

.tab-link:nth-of-type(3).active {
  color: #EEC63B;
  border-color: #EEC63B;
}



.content-wrapper {
  padding: 40px 80px;
}

.tab-content {
  display: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}
